/* 2340x1080 pixels at 476ppi */
@media only screen 
and (device-width: 375px) 
and (device-height: 812px) 
and (orientation: portrait) 
and (-webkit-device-pixel-ratio: 3) { }


* {
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
    /* 1792x828px at 326ppi */
}


.App {
    border: 4px black solid;
    position: relative;
}

.loginBox {
    border: 1px green solid;
    position: relative;
    bottom: 0%;
    right: 5%;
}

.Author {
    border-top: 1px rgb(37, 33, 33) solid;
    border-left: 1px rgb(37, 33, 33) solid;
    border-right: 1px rgb(37, 33, 33) solid;
    width: 600px;
    height: px;
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    top: 3%
}

.images {
    display:flex;
    flex-direction: column;
    border-bottom: 1px rgb(37, 33, 33) solid;
    border-left: 1px rgb(37, 33, 33) solid;
    border-right: 1px rgb(37, 33, 33) solid;
    width: 60vw;
    height: 80vh;
    object-fit: contain;
    position: relative;
    left: 15%;
    padding-bottom: 40px;
}

.login {
    border-bottom: 1px rgb(221, 46, 46) solid;
    position:relative;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 10px;
}

.Navbar {
    border-bottom: 1px rgb(39, 38, 38) solid;
    position: relative;
    height: 60px;
}

.Logo {
    position: relative;
    width: 12%;
    top: 12%;
    left: 16%;
}
.Add {
 /* border: 4px red solid;   */
 position: absolute; 
 right: 35%;
 top: 10%;
}

.Likes {
    /* border: 4px green solid; */
    position: absolute;
    right: 30%;
    top: 10%;
}

.Send {
    /* border: 4px blue solid; */
    position: absolute;
    right: 25%;
    top: 12%;
}

.Footer {
    border: 1px rgb(39, 38, 38) solid;
    position: fixed;
    height: 60px;
    width: 100%;
    bottom: 0px;
}

.Home {
    position: absolute; 
    left: 16%;
    bottom: 10%;
}

.Search {
    position: absolute; 
    left: 30%;
    bottom: 12%;
}

.Reels {
    position: absolute; 
    left: 44%;
    bottom: 12%;
}

.Shop {
    position: absolute; 
    left: 58%;
    bottom: 12%;
}

.Profile {
    position: absolute; 
    left: 72%;
    bottom: 12%;
}